/* styles.css */

body {
    margin: 0;
    font-family: Georgia, Garamond, serif;
}

.container {
    display: flex;
}

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #90CAF9;
  overflow-x: hidden;
}


/* Side navigation links */
.sidenav a {
  color:#1976D2;
  padding: 16px;
  text-decoration: none;
  display: block;
}


/* Change color on hover */
.sidenav a:hover {
  background-color: #1976D2 ;
  color: white;
}


.main-content {
  margin-left: 200px;
  padding-left: 20px;
}
}

/* Style the headings and paragraphs within sections */
h2 {
    color: #29B6F6;
}

p {
    color: #90CAF9;
}
